<?xml version="1.0"?>

<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2019 Monogo (https://monogo.pl)
 * @package Monogo_Smsapi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smsapi>
            <general>
                <enable>0</enable>
                <service_enabled>oauth</service_enabled>
                <service_location>pl</service_location>
                <alert_limit>2</alert_limit>
                <apitoken backend_model="Magento\Config\Model\Config\Backend\Encrypted"></apitoken>
            </general>
            <oauth>
                <client_id>wYF4JFiushWq1cecVt6riTTkONOaxOucHei4dzb8</client_id>
                <client_secret>DLl5ez10ObeLeVCeSfzqeBgM4eE1P96yEMjm1RRY</client_secret>
                <bearer>0</bearer>
                <refresh_token>0</refresh_token>
            </oauth>
            <additional>
                <oauth_token_url>https://oauth.smsapi.io/api/oauth/token</oauth_token_url>
                <service_url_pl>https://ssl.smsapi.pl</service_url_pl>
                <service_url_global>https://ssl.smsapi.com</service_url_global>
            </additional>
        </smsapi>
    </default>
</config>
