<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Smsapi\Smsapi2\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Smsapi\Smsapi2\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string"></argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Smsapi\Smsapi2\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="smsapi/smsapi/apitoken" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\ToOrderAddress">
        <plugin name="monogo_smsapi_toorderaddress"
                type="Smsapi\Smsapi2\Plugin\Quote\Model\Quote\Address\ToOrderAddress" sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="monogo_smsapi_shippinginformationmanagement"
                type="Smsapi\Smsapi2\Plugin\Checkout\Model\ShippingInformationManagement" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="monogo_smsapi_model_paymentinformationmanagement"
                type="Smsapi\Smsapi2\Plugin\Checkout\Model\PaymentInformationManagement" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="monogo_smsapi_model_guestpaymentinformationmanagement"
                type="Smsapi\Smsapi2\Plugin\Checkout\Model\GuestPaymentInformationManagement" sortOrder="10"/>
    </type>
</config>