<?xml version="1.0"?>

<!--
/**
 * @author Monogo
 * @copyright Copyright (c) 2019 Monogo (https://monogo.pl)
 * @package Monogo_Smsapi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="monogo" translate="label, comment" sortOrder="9000" class="monogo-tab">
            <label>SMSAPI</label>
        </tab>
        <section id="smsapi" translate="label, comment" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SMSAPI</label>
            <tab>monogo</tab>
            <resource>Smsapi_Smsapi::config</resource>
            <group id="smsapi_system_status" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>System status</label>
                <field id="system_status" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                    <frontend_model>Smsapi\Smsapi2\Block\Adminhtml\System\Config\Status</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
            </group>
            <group id="general" translate="label, comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="oauth_enable" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Oauth</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                </field>
                <field id="apitoken_enable" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Token Auth</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                        <field id="smsapi/general/oauth_enable">0</field>

                    </depends>
                </field>
                <field id="apitoken" translate="label, comment" type="obscure" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API OAuth Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="smsapi/general/apitoken_enable">1</field>
                        <field id="smsapi/general/oauth_enable">0</field>

                    </depends>
                </field>
                <field id="allow_long" translate="label, comment" type="select" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove language specific characters</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                </field>
                <field id="storename" translate="label, comment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                </field>


                <field id="sender" translate="label, comment" type="select" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SMS Sender</label>
                    <source_model>Smsapi\Smsapi2\Model\Config\Source\Sender</source_model>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                    <comment>W celu dodania pola nadawcy kliknij 	&lt;span id=senders_comment	 &gt;tutaj&lt;/span&gt;</comment>
                </field>
                <field id="service" translate="label, comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Service</label>
                    <source_model>Smsapi\Smsapi2\Model\Config\Source\Service</source_model>
                    <validate>required-entry validate-select</validate>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                        <field id="smsapi/general/apitoken_enable">1</field>

                    </depends>
                </field>
                <field id="ccnumbers" translate="label, comment" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Store Owner phone numbers for notification</label>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                    <comment>Phone numbers separated by comma. Depending on the configuration Store Owner will receive SMS on status change</comment>
                </field>
                <field id="alert_limit" translate="label, comment" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify if points lower than</label>
                    <validate>required-entry validate-zero-or-greater</validate>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="templates" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Message templates</label>
                <depends>
                    <field id="smsapi/general/enable">1</field>
                </depends>
                <field id="system_status" translate="label, comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Smsapi\Smsapi2\Block\Adminhtml\System\Config\Template\Info</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="messages" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Messages</label>
                    <frontend_model>Smsapi\Smsapi2\Block\Adminhtml\System\Config\Dynamicfield</frontend_model>
                    <backend_model>Smsapi\Smsapi2\Model\System\Config\Dynamicfield</backend_model>
                </field>
            </group>
            <group id="debug" translate="label, comment" type="text" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug Configuration</label>
                <depends>
                    <field id="smsapi/general/enable">1</field>
                </depends>
                <field id="enable_log" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="smsapi/general/enable">1</field>
                    </depends>
                    <comment>Log to file var/log/smsapi.log</comment>
                </field>

            </group>
        </section>
    </system>
</config>
